<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.scss" />
    <link rel="stylesheet" href="/css/style.css" />
    <%- include('../partials/head'); %>
  </head>
  <body class="">
    <header><%- include('../partials/header'); %></header>

    <main class="pb-44">
      <div class="bg-[#151618] text-white pl-10 pt-10 pb-10">
        <div class="text-sm breadcrumbs">
          <ul>
            <li><a>Categories</a></li>
            <li><a>Web Development</a></li>
          </ul>
        </div>
        <div class="text-3xl"><%= course.title %></div>
        <div><%= course.shortDisc %></div>
        <span class="badge mb-3 mt-3">Best seller</span>
        <div class="flex mb-2">
          <div class="text-lg"><%=avgStars%></div>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-star-fill text-orange-400 ml-2 mt-0.5"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
            />
          </svg>
        </div>
        <div><%= course.dateLastUpdated %></div>
        <% if (lecturer.name) { %>
        <div class="pb-5">Create by <span class="font-semibold"><%= lecturer.name %></span></div>
        <% } else { %>
        <div class="pb-5">Create by <span class="font-semibold"> <%= lecturer.email %></span></div>
        <% } %>
      </div>
      <div class="w-full flex">
        <!-- course description etc (1st half on udemy course) -->
        <div class="w-3/4 flex-auto mr-10 ml-10">
          <div>
            <div class="text-xl font-semibold mb-7 mt-10">Course content</div>
            <div class="p-5 rounded-box border mb-10 ml-10 mr-10">
              <ul class="ml-10 mb-10">
                <% (chapters.forEach(function(chapter) { %>
                <li><a><%= chapter.title %></a></li>
                <% })) %>
              </ul>
            </div>
            <div class="text-xl font-semibold mb-7">Description</div>
            <div><%= course.longDesc %></div>
            <div class="text-xl font-semibold mt-10 mb-10">Previous students' feedback</div>
            <div class="ml-10 mr-20">
              <% (reviews.forEach(function(review) { %>
              <div class="p-2 border rounded-box mt-2 mb-2">
                <div class="flex">
                  <span class="ml-2"><%= review.ratingStars %></span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-star-fill mt-1 ml-2"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                    />
                  </svg>
                </div>
                <div class="p-2"><%= review.feedback %></div>
              </div>
              <% })) %>
            </div>
            <form class="form-control w-full grid" action="/category/course/<%=course.id%>" method="post">
              <div class="text-xl font-semibold mt-10 mb-10">Leave your feedback</div>
              <div class="rating ml-10 mb-5">
                <input
                  type="radio"
                  name="ratingStars"
                  class="mask mask-star-2 bg-orange-400 hidden"
                  value="0"
                  checked
                />
                <input type="radio" name="ratingStars" class="mask mask-star-2 bg-orange-400" value="1" />
                <input type="radio" name="ratingStars" class="mask mask-star-2 bg-orange-400" value="2" />
                <input type="radio" name="ratingStars" class="mask mask-star-2 bg-orange-400" value="3" />
                <input type="radio" name="ratingStars" class="mask mask-star-2 bg-orange-400" value="4" />
                <input type="radio" name="ratingStars" class="mask mask-star-2 bg-orange-400" value="5" />
              </div>
              <input
                type="text"
                placeholder="Your thoughts on this course"
                name="courseFeedback"
                class="input input-bordered ml-10 mr-20"
              />
              <div class="flex">
                <button class="btn w-36 mt-10 ml-96 justify-center">Send</button>
              </div>
            </form>
          </div>
        </div>

        <!-- price tag & things (2nd half on udemy course) -->
        <div class="w-1/4 flex-auto border mr-10 ml-10 bg-white rounded-box p-2 -mt-10 shadow-2xl h-3/4 z-10">
          <img src="<%= course.image %>" class="w-full rounded-box" />
          <div class="text-xl font-semibold mb-5 mt-5 ml-5"><%= course.basePrice %> $</div>
          <button class="btn w-full mb-2">Add course</button>
          <button class="btn w-full btn-outline">Add to watch list</button>
          <!-- <div class="ml-5 mt-5">
            <div class="font-semibold mb-2">This course includes:</div>
            <div class="ml-10">
              <div>69 videos</div>
              <div>69 videos</div>
              <div>69 videos</div>
              <div>69 videos</div>
              <div>69 videos</div>
              <div>69 videos</div>
            </div>
          </div> -->
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>

  <script src="/script/typing_animation.js"></script>
  <script defer src="/script/on_scroll_animation.js"></script>
</html>
