<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <!--Screen begins-->
    <main class="w-screen">
      <div class="w-full">
        <!--Search query display-->
        <div class="flex">
          <div class="ml-16 mt-5 text-3xl font-semibold">Search results for "<%= searchString %>"</div>
        </div>
        <!--Course grid-->
        <div class="grid grid-cols-4 gap-5 ml-24 mr-24 mt-5 mb-24">
          <% courses.forEach(function(course) { %>
          <a href="/category/course/<%=course._id%>">
            <div class="mt-3">
              <div class="w-full aspect-square border">
                <img src="https://s.udemycdn.com/home/top-categories/lohp-category-design-2x-v2.jpg" />
              </div>
              <div class="flex justify-between">
                <div class="font-semibold text-xl"><%= course.title %></div>
              </div>
            </div>
          </a>
          <% }) %>
        </div>
      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
