<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header.ejs'); %></header>

    <main>
      <div class="">
        <div class="flex">
          <!-- FIRST HALF-->
          <div class="pl-5 w-1/5 pr-5">
            <div class="drawer drawer-mobile">
              <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
              <div class="drawer-content flex flex-col items-center justify-center">
                <!-- Page content here -->
                <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">Open drawer</label>
              </div>
              <div class="drawer-side">
                <label for="my-drawer-2" class="drawer-overlay"></label>
                <ul class="menu p-4 w-80 bg-base-100 text-base-content text-lg">
                  <!-- Sidebar content here -->
                  <li><a class="w-3/4">Profile</a></li>
                  <li><a class="w-3/4">Favorite</a></li>
                  <li><a class="w-3/4">Owned Courses</a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- SECOND HALF-->
          <div class="bg-[#eeeeee] w-4/5 pr-10">
            <div class="p-10 text-lg ml-10">
              <div class="flex bg-[]">
                <div class="w-44 h-44 rounded-full bg-black ml-10 mb-10">
                  <!-- <img src="https://placeimg.com/80/80/people" /> -->
                </div>
                <div class="text-4xl pl-64 pt-16">
                  <span class="opacity-80">Happy learning,</span>&nbsp;
                  <span class="font-semibold"> <%= userName %>! </span>
                </div>
              </div>
              <div class="divider opacity-50"></div>

              <div class="text-2xl font-semibold ml-24 mb-2">Account info</div>

              <!-- gray bounding box-->
              <div class="bg-[#ffffff] pl-24 pr-24 pt-10 pb-10 ml-10 mr-10 rounded-box">
                <div class="flex justify-between">
                  <div class="mb-3">
                    <div class="uppercase opacity-75">username &nbsp;</div>
                    <div class="font-semibold"><%= userName %></div>
                  </div>
                  <div>
                    <label for="my-modal-3" class="btn mt-1">edit</label>
                    <input type="checkbox" id="my-modal-3" class="modal-toggle" />
                    <div class="modal">
                      <div class="modal-box relative">
                        <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                        <form class="form-control w-full grid" action="/profile/edit/name" method="post">
                          <span class="text-3xl font-semibold">Edit name</span>
                          <label class="label mt-5">
                            <span class="label-text text-xl">New name</span>
                          </label>
                          <input
                            type="text"
                            placeholder="New name"
                            name="newName"
                            class="input input-bordered w-full"
                            autofocus
                          />
                          <button class="btn btn-block justify-self-center mt-10">Save</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="flex justify-between">
                  <div class="mb-3">
                    <div class="uppercase opacity-75">email &nbsp;</div>
                    <div class="font-semibold"><%= userEmail %></div>
                  </div>
                  <div>
                    <label for="my-modal-4" class="btn mt-1">edit</label>
                    <input type="checkbox" id="my-modal-4" class="modal-toggle" />
                    <div class="modal">
                      <div class="modal-box relative">
                        <label for="my-modal-4" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                        <form class="form-control w-full grid" action="/profile/edit/password" method="post">
                          <span class="text-3xl font-semibold">Edit password</span>
                          <label class="label mt-5">
                            <span class="label-text text-xl">New password</span>
                          </label>
                          <input
                            type="password"
                            placeholder="New password"
                            name="newPassword"
                            class="input input-bordered w-full"
                            autofocus
                          />
                          <label class="label">
                            <span class="label-text text-xl">Confirm password</span>
                          </label>
                          <input
                            type="password"
                            placeholder="Confirm password"
                            name="confirm-new-password"
                            class="input input-bordered w-full"
                          />
                          <button class="btn btn-block justify-self-center mt-10">Save</button>
                          <% if (messages.errors) { %>
                          <div class="alert alert-error shadow-lg mt-5">
                            <div>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="stroke-current flex-shrink-0 h-6 w-6"
                                fill="none"
                                viewBox="0 0 24 24"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                                />
                              </svg>
                              <span><%= messages.errors %></span>
                            </div>
                          </div>
                          <% } %>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <span class="font-semibold capitalize"><%=userRole%></span> since
                  <span class="font-semibold"><%=dateCreated%></span>
                </div>
                <div>Total owned courses: ##</div>
              </div>

              <div class="text-2xl font-semibold ml-24 mb-2 mt-10" id="account-security">Account security</div>
              <!-- gray bounding box-->
              <div class="bg-[#ffffff] pl-24 pr-24 pt-10 pb-10 ml-10 mr-10 rounded-box mb-16">
                <form class="form-control w-full grid" action="/profile/edit/password" method="post">
                  <span class="text-xl font-semibold">Password</span>
                  <!-- <label class="label mt-0">
                    <span class="label-text text-xl">Current password</span>
                  </label> -->
                  <input
                    type="password"
                    placeholder="Current password"
                    name="currentPassword"
                    class="input input-bordered w-full mt-2"
                  />
                  <!-- <label class="label">
                    <span class="label-text text-xl">New password</span>
                  </label> -->
                  <input
                    type="password"
                    placeholder="New password"
                    name="newPassword"
                    class="input input-bordered w-full mt-2"
                  />
                  <!-- <label class="label">
                    <span class="label-text text-xl">Confirm password</span>
                  </label> -->
                  <input
                    type="password"
                    placeholder="Confirm password"
                    name="confirm-new-password"
                    class="input input-bordered w-full mt-2"
                  />
                  <button class="btn btn-block mt-5 w-1/5">Change password</button>
                  <% if (messages.errors) { %>
                  <div class="alert alert-error shadow-lg mt-5">
                    <div>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="stroke-current flex-shrink-0 h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                        />
                      </svg>
                      <span><%= messages.errors %></span>
                    </div>
                  </div>
                  <% } %>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
